{#
Copyright 2020 Hermann Krumrey <hermann@krumreyh.com>

This file is part of otaku-info-web.

otaku-info-web is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

otaku-info-web is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with otaku-info-web.  If not, see <http://www.gnu.org/licenses/>.
#}

<!--user_management/forgot.html-->
{% extends "components/base_layout.html" %}
{% block body %}
    <h1> Notification Settings </h1>
    <br>

    <h3>Telegram</h3>
    <p>
        To enable Telegram Notifications, you need to know your Telegram Chat ID.
        To get your chat ID, send a message to
        <a href="http://t.me/otaku_info_web_bot">the Telegram bot</a>
        with the content "/whoami".
    </p>

    <div class="container form-container">
        <form method="post" action="{{ url_for("notifications.set_telegram_chat_id") }}">
            <div class="form-group">
                <label for="telegram_chat_id_input">Telegram Chat ID</label>
                <input class="form-control"
                       type="text"
                       autocomplete="on"
                       id="telegram_chat_id_input"
                       aria-label="{{ site_name }}"
                       value="{{ "" if telegram_chat_id is none else telegram_chat_id.chat_id }}"
                       name="telegram_chat_id">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <a class="btn btn-primary" href="{{ url_for("notifications.telegram_test") }}" role="button">Test</a>

    <br>

    <h3>Notification Settings</h3>

    <br>

    <div class="container form-container">
        <form method="post" action="{{ url_for("notifications.set_notification_settings") }}">
            <div class="form-check">
                <input type="checkbox"
                       class="form-check-input"
                       id="manga_chapter_check"
                       name="manga_chapter"
                       checked>
                <label class="form-check-label" for="manga_chapter_check">New Manga Chapters</label>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock %}
