{#
Copyright 2020 Hermann Krumrey <hermann@krumreyh.com>

This file is part of otaku-info-web.

otaku-info-web is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

otaku-info-web is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with otaku-info-web.  If not, see <http://www.gnu.org/licenses/>.
#}

<!--user_management/profile.html-->
{% extends "components/base_layout.html" %}
{% block body %}
    <h1>{{ current_user.username }}</h1>

    <hr>

    <h2>Change password</h2>

    <div class="container form-container">
        <form method="post" action="{{ url_for("user_management.change_password") }}">
            <div class="form-group">
                <label for="old_password_input">Current Password</label>
                <input class="form-control"
                       type="password"
                       autocomplete="on"
                       id="old_password_input"
                       aria-label="old_password"
                       placeholder="Password"
                       name="old_password">
            </div>
            <div class="form-group">
                <label for="new_password_input">New Password</label>
                <input class="form-control"
                       type="password"
                       autocomplete="on"
                       id="new_password_input"
                       aria-label="new_password"
                       placeholder="Password"
                       name="new_password">
            </div>
            <div class="form-group">
                <label for="password_repeat_input">New Password (Repeat)</label>
                <input class="form-control"
                       type="password"
                       autocomplete="on"
                       id="password_repeat_input"
                       aria-label="password-repeat"
                       placeholder="Password"
                       name="password_repeat">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <hr>

    <h2>Set external service usernames</h2>

    {% for service, username in service_usernames.items() %}
        <div class="container form-container">
            <form method="post" action="{{ url_for("external_service.set_service_username") }}">
                <div class="form-group">
                    <label for="{{ site_name }}_input">{{ service.value.title() }} username</label>
                    <input class="form-control"
                           type="text"
                           autocomplete="on"
                           id="{{ site_name }}_input"
                           aria-label="{{ site_name }}"
                           value="{{ "" if username is none else username.username }}"
                           name="username">
                    <input type="hidden" value="{{ service.value }}" name="service">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    {% endfor %}

    <hr>

    <h2>Delete Account</h2>

    <div class="container form-container">
        <form method="post" action="{{ url_for("user_management.delete_user") }}">
            <div class="form-group">
                <label for="password_input">Current Password</label>
                <input class="form-control"
                       type="password"
                       autocomplete="on"
                       id="password_input"
                       aria-label="password"
                       placeholder="Password"
                       name="password">
            </div>
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>

{% endblock %}
