{#
Copyright 2020 Hermann Krumrey <hermann@krumreyh.com>

This file is part of otaku-info.

otaku-info is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

otaku-info is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with otaku-info.  If not, see <http://www.gnu.org/licenses/>.
#}

<!--updates/updates.html-->
{% extends "core/base_layout.html" %}
{% block body %}
    {% for weekday, entries in schedule %}
        <h3>{{ weekday }}</h3>
        {% for entry in entries %}
            <p>{{ entry.media_id.media_item.title }} {{ entry.media_id.media_item.next_episode }} {{ entry.media_id.media_item.next_episode_datetime }}</p>
        {% endfor %}
    {% endfor %}
{% endblock %}
