stages:
  - mirror
  - test
  - stats
  - release
  - deploy

default:
  image: namboy94/ci-docker-environment:0.7.0
  before_script:
    - echo "$SERVER_ACCESS_KEY" > ~/.ssh/id_rsa
    - chmod 0600 ~/.ssh/id_rsa

github_mirror:
  stage: mirror
  tags: [docker]
  only: [master, develop]
  before_script:
    - echo "$GITHUB_SSH_KEY" > ~/.ssh/id_rsa
    - chmod 0600 ~/.ssh/id_rsa
  script:
    - git-mirror-pusher
      git@github.com:namboy94/otaku-info-bot.git
      master develop

stylecheck:
  stage: test
  tags: [docker]
  script:
    - python-codestyle-check

type_check:
  stage: test
  tags: [docker]
  script:
    - python-static-type-check

unittest:
  stage: test
  tags: [docker]
  script:
    - python-unittest

gitstats:
  stage: stats
  tags: [docker]
  script:
    - gitstats-gen

docgen:
  stage: stats
  tags: [docker]
  script:
    - pip install flask
    - sphinx-docgen

release_upload:
  stage: release
  only: [master]
  tags: [docker]
  script:
    - github-release-upload $(cat version) "$(changelog-reader)"
    - gitlab-release-upload $(cat version) "$(changelog-reader)"

pypi_upload:
  stage: release
  only: [master]
  tags: [docker]
  script:
    - pypi-upload

run_bot:
  stage: deploy
  tags: [privileged]
  only: [master, develop]
  before_script: []
  script:
    - docker build -t otaku-info-bot . --no-cache
    - docker stop otaku-info-bot-instance || true
    - docker rm otaku-info-bot-instance || true
    - echo $TELEGRAM_API_KEY | docker run --rm -i -v
      /home/hermann/.config/otaku-info-bot:/root/.config/otaku-info-bot
      otaku-info-bot --initialize
    - docker run -d --restart always --name otaku-info-bot-instance -v
      /home/hermann/.config/otaku-info-bot:/root/.config/otaku-info-bot
      otaku-info-bot -v
