DB_MODE=postgresql
POSTGRES_USER=otaku
POSTGRES_DB=otaku_info
POSTGRES_PORT=5432
POSTGRES_PASSWORD=
FLASK_SECRET=
RECAPTCHA_SECRET_KEY=
RECAPTCHA_SITE_KEY=
SMTP_ADDRESS=
SMTP_PASSWORD=
SMTP_PORT=
SMTP_HOST=
TELEGRAM_API_KEY=
HTTP_PORT=8000
DOMAIN_NAME=example.com
BEHIND_PROXY=0
VERBOSITY=info