{#
Copyright 2020 Hermann Krumrey <hermann@krumreyh.com>

This file is part of otaku-info.

otaku-info is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

otaku-info is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with otaku-info.  If not, see <http://www.gnu.org/licenses/>.
#}

<!--user_management/forgot.html-->
{% extends "core/base_layout.html" %}
{% block body %}
    <h1> Notification Settings </h1>

    <form method="post" action="{{ url_for("notifications.set_notification_settings") }}">
        {% for notification_type, setting in notification_settings.items() %}
            {% with label_name=notification_type.value.title().replace("_", " "),
                var_name=notification_type.value,
                checked=setting.value %}
                {% include "components/forms/bool_input.html" %}
            {% endwith %}
            {% with label_name="Minimum Score",
                min_value=0, max_value=100, step=1,
                value=0 if not setting.value else setting.minimum_score,
                var_name="mincount" %}
            {% include "components/forms/number_input.html" %}
            {% endwith %}
        {% endfor %}
        {% with button_name="Submit" %}
            {% include "components/forms/submit_button.html" %}
        {% endwith %}
    </form>

{% endblock %}
