{#
Copyright 2020 Hermann Krumrey <hermann@krumreyh.com>

This file is part of otaku-info-web.

otaku-info-web is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

otaku-info-web is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with otaku-info-web.  If not, see <http://www.gnu.org/licenses/>.
#}

<!--static/index.html-->
{% extends "components/base_layout.html" %}
{% block body %}
    <h1>Manga</h1>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row text-center">
                <div class="col-md-1">
                    Image
                </div>
                <div class="col-md-7">
                    Name
                </div>
                <div class="col-md-1">
                    Score
                </div>
                <div class="col-md-1">
                    Progress
                </div>
                <div class="col-md-1">
                    Latest
                </div>
                <div class="col-md-1">
                    New
                </div>
            </div>
        </li>
        {% for entry in entries %}
            {% with entry=entry %}
                {% include "proto/user_entry.html" %}
            {% endwith %}
        {% endfor %}
    </ul>
{% endblock %}
