<li class="list-group-item">
    <div class="row text-center">
        <div class="col-md-1">
            <img style="max-height: 50px" src="{{ entry.entry.image_url }}">
        </div>
        <div class="col-md-7">
            {{ entry.entry.name }}
        </div>
        <div class="col-md-1">
            {{  entry.score }}
        </div>
        <div class="col-md-1">
            {{  entry.progress }}
        </div>
        <div class="col-md-1">
            {{ entry.entry.latest_chapter }}
        </div>
        <div class="col-md-1">
            {{ entry.diff }}
        </div>
    </div>
</li>


