{#
Copyright 2020 Hermann Krumrey <hermann@krumreyh.com>

This file is part of otaku-info.

otaku-info is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

otaku-info is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with otaku-info.  If not, see <http://www.gnu.org/licenses/>.
#}

<div class="columns has-text-centered">
    <div class="column">
        <div class="update-grid-cover-image">
            <img src="{{ update.cover_url }}" alt="{{ update.title }}" class="cover-image">
            <span class="tag is-danger top-right">{{ update.diff }}</span>
        </div>
    </div>
</div>
<div class="columns has-text-centered">
    <div class="column">
        <h3>{{ update.title }}</h3>
    </div>
</div>
