{#
Copyright 2020 Hermann Krumrey <hermann@krumreyh.com>

This file is part of otaku-info.

otaku-info is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

otaku-info is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with otaku-info.  If not, see <http://www.gnu.org/licenses/>.
#}

<div class="columns update-item">
    <div class="column">
        <img class="cover-image" src="{{ update.cover_url }}" alt="{{ update.title }}">
    </div>
    <div class="column">
        <a href="{{ update.url }}">{{ update.title }}</a>
    </div>
    <div class="column">
        {% for related_id in update.related_ids %}
            <span class="service-button">
                <a href="{{ related_id.service_url }}">
                    <img class="service-image" src="{{ related_id.service_icon }}"
                         alt="{{ related_id.service.name }}"/>
                </a>
            </span>
        {%  endfor %}
    </div>
    <div class="column">
        {{ update.score }}
    </div>
    <div class="column">
        {{ update.progress }}
    </div>
    <div class="column">
        {{ update.latest }}
    </div>
    <div class="column">
        <span class="tag is-danger">{{ update.diff }}</span>
    </div>
</div>
