{#
Copyright 2020 Hermann Krumrey <hermann@krumreyh.com>

This file is part of otaku-info.

otaku-info is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

otaku-info is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with otaku-info.  If not, see <http://www.gnu.org/licenses/>.
#}

<div class="field {% if horizontal is defined and horizontal %}is-horizontal{% endif %}">

    {% if label_name is not none %}
        <label class="label">{{ label_name }}</label>
    {% endif %}

    <div class="control">
        <div class="select">
            <!--suppress HtmlFormInputWithoutLabel -->
            <select name="{{ var_name }}">
                {% if selected is none  %}
                    <option value="" selected></option>
                {% endif %}
                {% for option_value, option_name in options %}
                    <option value="{{ option_value }}" {% if selected == option_value %}selected{% endif %}>
                        {{ option_name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
