{#
Copyright 2020 Hermann Krumrey <hermann@krumreyh.com>

This file is part of otaku-info.

otaku-info is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

otaku-info is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with otaku-info.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "core/base_layout.html" %}
{% block head %}
    <meta property="og:title" content="{{ media_item.title }}">
    <meta property="og:image" content="{{ media_item.cover_url }}">
{% endblock %}

{% block body %}
    <h1>{{media_item.title}}</h1>
    <hr>

    <div class="columns has-text-centered">
        <div class="column is-4">
            <div class="columns has-text-centered">
                <div class="column">
                    <img class="media-cover"
                         src="{{ media_item.cover_url }}"
                         alt="{{ media_item.title }}">
                </div>
            </div>
            <div class="columns has-text-centered">
                <div class="column">
                    {% for id_mapping in media_item.id_mappings.values() %}
                        <span style="padding-right:3px; padding-top: 3px; display:inline-block;">
                            <a href="{{ id_mapping.service_url }}">
                                <img class="media-service-image"
                                     src="{{ id_mapping.service_icon }}"
                                     alt="{{ id_mapping.service.value }}"/>
                            </a>
                        </span>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="column">
            <h3>Info</h3>
            <table class="table">
                <tbody>
                    <tr>
                        <td>English Title</td>
                        <td>{{ media_item.english_title }}</td>
                    </tr>
                    <tr>
                        <td>Japanese Title</td>
                        <td>{{ media_item.romaji_title }}</td>
                    </tr>
                    <tr>
                        <td>Media Type</td>
                        <td>{{ media_item.media_type.value.title().replace("_", " ") }}</td>
                    </tr>
                    <tr>
                        <td>Format</td>
                        <td>{{ media_item.media_subtype.value.title().replace("_", " ") }}</td>
                    </tr>
                    <tr>
                        <td>Releasing State</td>
                        <td>{{ media_item.releasing_state.value.title().replace("_", " ") }}</td>
                    </tr>
                    <tr>
                        <td>Latest Episode/Chapter</td>
                        <td>{{ media_item.current_release }}</td>
                    </tr>

                </tbody>
            </table>
            <hr>
            {% if user_state is not none %}
                <h3>{{ user_state.service.value.title() }}</h3>
                    <table class="table">
                    <tbody>
                        <tr>
                            <td>Progress</td>
                            <td>{{ user_state.progress }}</td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
