{#
Copyright 2020 Hermann Krumrey <hermann@krumreyh.com>

This file is part of otaku-info-web.

otaku-info-web is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

otaku-info-web is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with otaku-info-web.  If not, see <http://www.gnu.org/licenses/>.
#}

<!--static/index.html-->
{% extends "components/base_layout.html" %}
{% block body %}
    <h1>Manga</h1>

    {% if entries is defined %}
        <div id="manga-list">
            <div class="row text-center">
                <div class="col-md-1">
                    Image
                </div>
                <div class="col-md-5">
                    <button class="sort" data-sort="name">Name</button>
                </div>
                <div class="col-md-2">
                    Links
                </div>
                <div class="col-md-1">
                    <button class="sort" data-sort="user_score">Score</button>
                </div>
                <div class="col-md-1">
                    <button class="sort" data-sort="user_progress">Progress</button>
                </div>
                <div class="col-md-1">
                    <button class="sort" data-sort="latest">Latest</button>
                </div>
                <div class="col-md-1">
                    <button class="sort" data-sort="diff">New</button>
                </div>
            </div>
            <ul class="list-group list">
                {% for entry in entries %}
                    {% with entry=entry %}
                        {% include "manga/manga_update_item.html" %}
                    {% endwith %}
                {% endfor %}
            </ul>
        </div>
        <script>
            var userList = new List('manga-list', {
                valueNames: [
                    "diff",
                    "name",
                    "score",
                    "progress",
                    "latest"
                ]
            });
        </script>

    {% else %}
        <div class="container form-container">
            <form method="post" action="{{ url_for("manga.show_manga_updates") }}">
                <div class="form-group">
                    <label for="list_ident_input">List</label>
                    <select id="list_ident_input" name="list_ident">
                        {% for media_list in media_lists %}
                            {% set name = media_list.name %}
                            {% set service = media_list.service.value %}
                            <option value="{{service}}:{{name}}">[{{service.title()}}] {{name.title()}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-check">
                    <input type="checkbox"
                           class="form-check-input"
                           id="only_updates_check"
                           name="only_updates"
                           checked>
                    <label class="form-check-label" for="only_updates_check">Only Updates</label>
                </div>
                <div class="form-check">
                    <input type="checkbox"
                           class="form-check-input"
                           id="include_complete_check"
                           name="include_complete">
                    <label class="form-check-label" for="include_complete_check">Include Complete</label>
                </div>
                <button type="submit" class="btn btn-primary">Go</button>
            </form>
        </div>
    {% endif %}


{% endblock %}
