<li class="list-group-item">
    <div class="row text-center">
        <div class="col-md-1">
            <img style="max-height: 50px" src="{{ entry.cover_url }}" alt="{{ entry.title }}">
        </div>
        <div class="col-md-7 name">
            <a href="{{ entry.url }}">{{ entry.title }}</a>
        </div>
        <div class="col-md-1 score">
            {{  entry.score }}
        </div>
        <div class="col-md-1 progress">
            {{  entry.progress }}
        </div>
        <div class="col-md-1 latest">
            {{ entry.latest }}
        </div>
        <div class="col-md-1 diff">
            {{ entry.diff }}
        </div>
    </div>
</li>
