{#
Copyright 2020 Hermann Krumrey <hermann@krumreyh.com>

This file is part of otaku-info.

otaku-info is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

otaku-info is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with otaku-info.  If not, see <http://www.gnu.org/licenses/>.
#}

<li class="list-group-item">
    <div class="row">
        <div class="col-md-1">
            <img class="manga_update_image" src="{{ entry.cover_url }}" alt="{{ entry.title }}">
        </div>
        <div class="col-md-5 name">
            <a style="padding-right: 30px" href="{{ entry.url }}">{{ entry.title }}</a>
        </div>
        <div class="col-md-2">
            {% for related_id in entry.related_ids %}
                <span style="padding-right:3px; padding-top: 3px; display:inline-block;">
                    <a href="{{ related_id.url }}">
                        <img style="max-height: 30px" src="{{ related_id.icon }}" alt="{{ related_id.service.name }}"/>
                    </a>
                </span>
            {%  endfor %}
        </div>
        <div class="col-md-1 user_score">
            {{  entry.score }}
        </div>
        <div class="col-md-1 user_progress">
            {{  entry.progress }}
        </div>
        <div class="col-md-1 latest">
            {{ entry.latest }}
        </div>
        <div class="col-md-1 diff">
            <span class="badge badge-pill badge-danger">{{ entry.diff }}</span>
        </div>
    </div>
</li>
