{#
Copyright 2020 Hermann Krumrey <hermann@krumreyh.com>

This file is part of otaku-info.

otaku-info is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

otaku-info is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with otaku-info.  If not, see <http://www.gnu.org/licenses/>.
#}

<nav class="navbar is-fixed-top is-dark top-navbar" role="navigation" aria-label="main navigation">

    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img alt="Otaku-Info"
                 class="brand-image"
                 src="{{ url_for('static', filename='images/logo.png') }}">
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbar-menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="navbar-menu">

        <div class="navbar-start">
            <a class="navbar-item {% if request.path == "/" %} active {% endif %}"
               href="{{ url_for("static.index") }}">Home</a>
            {% if not current_user.is_authenticated %}
                <a class="navbar-item {% if request.path == "/login" %} active {% endif %}"
                   href="{{url_for("user_management.login")}}">Login</a>
                <a class="navbar-item {% if request.path == "/register" %} active {% endif %}"
                   href="{{url_for("user_management.register")}}">Sign Up</a>
            {% else %}
                <a class="navbar-item {% if request.path == "/manga/updates" %} active {% endif %}"
                   href="{{url_for("updates.show_updates")}}">Updates</a>
                <a class="navbar-item {% if request.path == "/ln/releases" %} active {% endif %}"
                   href="{{url_for("ln.ln_releases")}}">LN Releases</a>
                <a class="navbar-item {% if request.path == "/notifications" %} active {% endif %}"
                   href="{{url_for("notifications.notifications")}}">Notifications</a>
                <a class="navbar-item {% if request.path == "/profile" %} active {% endif %}"
                   href="{{url_for("user_management.profile")}}">Profile</a>
            {% endif %}
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for("user_management.logout") }}">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                {% else %}
                    <form class="has-text-centered" method="post" action="{{ url_for("user_management.login") }}">
                        <input name="username" placeholder="Username / Email"
                               aria-label="username" autocomplete="on" type="text">
                        <input  name="password" placeholder="Passwort"
                                aria-label="password" autocomplete="current-password" type="password">
                        <button type="submit" class="btn">
                            <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<script type="text/javascript">
    // Handles the toggle button when in mobile mode
    document.addEventListener('DOMContentLoaded', () => {
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        if ($navbarBurgers.length > 0) {
            $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        }
    });
</script>
