/**
Copyright 2017 Hermann Krumrey <hermann@krumreyh.com>

This file is part of bundesliga-tippspiel.

bundesliga-tippspiel is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

bundesliga-tippspiel is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bundesliga-tippspiel.  If not, see <http://www.gnu.org/licenses/>.
*/

// The background color of the main container
$main-container-color: #f8f9fa;
// The background color of the page
$main-background-color: white;
// The background color of the footer
$footer-background-color: #363636;
// Color of logo background on footer
$footer-logo-background-color: #999c9f;
// The color of text on the footer
$footer-text-color: white;
// The color of link text on the footer when the user hovers over it
$footer-text-color-hover: grey;
// Background color of active element on the navbar
$navbar-active-background-color: #292929;
// The default text color
$default-text-color: #363636;
// Default text color when hovering
$default-text-hover-color: blue;

// Standard colors
$danger-color: #f14668;
$warning-color: #ffdd57;
$success-color: #48c774;
$info-color: #3298dc;
$primary-color: #00d1b2;
$link-color: #3273dc;
$dark-color: #363636;
$light-color: #f5f5f5;
$black-color: #0a0a0a;
$white-color: #ffffff;
$danger-text-color: #ffffff;
$warning-text-color: #4f451b;
$success-text-color: #ffffff;
$info-text-color: #ffffff;
$primary-text-color: #ffffff;
$link-text-color: #ffffff;
$dark-text-color: #ffffff;
$light-text-color: #4c4c4c;
$black-text-color: #ffffff;
$white-text-color: #0a0a0a;
