{#
Copyright 2020 Hermann Krumrey <hermann@krumreyh.com>

This file is part of otaku-info.

otaku-info is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

otaku-info is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with otaku-info.  If not, see <http://www.gnu.org/licenses/>.
#}

<div class="columns update-item">
    <div class="column">
        {% if release.media_item is not none %}
            <img class="cover-image" src="{{ release.media_item.cover_url }}" alt="{{ release.series_name }}">
        {% endif %}
    </div>
    <div class="column">
        {% if release.media_item is not none %}
            {% for id_mapping in release.media_item.ids.values() %}
                <span class="service-button">
                    <a href="{{ id_mapping.service_url }}">
                        <img class="service-image" src="{{ id_mapping.service_icon }}"
                             alt="{{ id_mapping.service.name }}"/>
                    </a>
                </span>
            {% endfor %}
        {% endif %}
    </div>
    <div class="column">
        {{ release.release_date_string }}
    </div>
    <div class="column">
        {% if release.media_item is not none %}
            <a href="{{ release.media_item.own_url }}">{{ release.series_name }}</a>
        {% else %}
            {{ release.series_name }}
        {% endif %}
    </div>
    <div class="column is-1">
        {{  release.volume }}
    </div>
    <div class="column is-1">
        {% if release.purchase_link is not none %}
            <a href="{{ release.purchase_link }}">{{ release.publisher }}</a>
        {% else %}
            {{ release.publisher }}
        {% endif %}
    </div>
    <div class="column is-1">
        {% if release.digital %}
            <i class="fas fa-check"></i>
        {% else %}
            <i class="fas fa-times"></i>
        {% endif %}
    </div>
    <div class="column is-1">
        {% if release.physical %}
            <i class="fas fa-check"></i>
        {% else %}
            <i class="fas fa-times"></i>
        {% endif %}
    </div>
</div>
