{#
Copyright 2020 Hermann Krumrey <hermann@krumreyh.com>

This file is part of otaku-info.

otaku-info is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

otaku-info is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with otaku-info.  If not, see <http://www.gnu.org/licenses/>.
#}

<li class="list-group-item">
    <div class="row">
        <div class="col-md-1">
            <img class="manga_update_image" src="" alt="{{ release.series_name }}">
        </div>
        <div class="col-md-1">
            None
        </div>
        <div class="col-md-2 release">
            {{  release.release_date_iso }}
        </div>
        <div class="col-md-4 series">
            <a style="padding-right: 30px" href="">{{ release.series_name }}</a>
        </div>
        <div class="col-md-1">
            {{  release.volume }}
        </div>
        <div class="col-md-1 publisher">
            {{ release.publisher }}
        </div>
        <div class="col-md-1">
            {{ release.digital }}
        </div>
        <div class="col-md-1">
            {{ release.physical }}
        </div>
    </div>
</li>
