{#
Copyright 2020 Hermann Krumrey <hermann@krumreyh.com>

This file is part of otaku-info.

otaku-info is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

otaku-info is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with otaku-info.  If not, see <http://www.gnu.org/licenses/>.
#}

<!--static/index.html-->
{% extends "core/base_layout.html" %}
{% block body %}
    <h1>Light Novel Releases</h1>

    <form method="post" action="{{ url_for("ln.ln_releases") }}">
        {% with label_name="Year", var_name="year",
                selected=selected_year, options=years %}
            {% include "components/forms/dropdown_input.html" %}
        {% endwith %}
        {% with label_name="Month", var_name="month",
                selected=selected_month, options=months %}
            {% include "components/forms/dropdown_input.html" %}
        {% endwith %}
        {% with button_name="Go" %}
            {% include "components/forms/submit_button.html" %}
        {% endwith %}
    </form>

    <div class="container is-fluid">
        {% for release in releases %}
            {% with release=release %}
                {% include "ln/ln_release_item.html" %}
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}
