/**
Copyright 2020 Hermann Krumrey <hermann@krumreyh.com>

This file is part of otaku-info-web.

otaku-info-web is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

otaku-info-web is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with otaku-info-web.  If not, see <http://www.gnu.org/licenses/>.
*/

/* Basic Structure */

table {
    table-layout: fixed;
    overflow: hidden;
}

html, body {
    margin:0;
    padding:0;
    height:100%;
}

footer {
    background: #343a40;
    padding-left: 1em;
    padding-right: 1em;
}

footer a {
    color: #999c9f;
}

#container {
    min-height:100%;
    position:relative;
}

#body {
    padding-bottom: 60px;   /* Height of the footer */
    margin: 0 auto;
    /*width: 80%;*/
    min-height: calc(100vh - 100px);
    background-color: #272c38;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    max-height:60px;         /* Height of the footer */
}

/*noinspection CssOptimizeSimilarProperties*/
.content {
    padding: 20px 3em;
    background: #f8f9fa;
    min-height: calc(100vh - 60px);
    margin-bottom: -20px;
}


/* Text Formatting */

i {
    color: #999c9f;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30pt;
}

h2 {
    text-align: center;
    font-size: 25pt;
}

h3 {
    text-align: center;
    font-size: 20pt;
}

p {
    font-size: 15pt;
}

/* Images */

.brand-image {
    max-height: 40px;
}

.dependency-logo {
    max-height: 30px;
    margin-left: 5px;
    background: #999c9f;
    border-radius: 3px;
    padding: 3px;
}

/* Footer Elements */

.footer-col {
    padding: 7px;
    text-align: center;
    font-size: 15pt;
}

.version-button {
    background: gray;
    border-radius:4px;
    padding: 3px;
    margin-left: 10px;
}

.form-container {
    background: #ededed;
    padding: 20px;
    border-radius: 10px
}

.manga_update_image {
    max-height: 60px;
}
